body {
    background-color: #ffb039;
    width: 100%;
}

.container {
    width: 800px;
    background-color: #be0909;
}

input {
    background-color: #be0909;
    width: 400px;
}

label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(254, 255, 255, 0.98);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

::placeholder,
[placeholder] {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
    color: rgba(254, 255, 255, 0.98);
}

button {
    width: 202px;
    height: 48px;
    background-color: #468189;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    border: #468189 solid 1px;
    border-radius: 24px;
}